

# This was inserted by `prisma init`:
[object Promise]

PORT=3000



#MySQL
MYSQL_USER=root
MYSQL_PASSWORD=admin
MYSQL_DB=weather
MYSQL_URL="mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@localhost:3306/${MYSQL_DB}"

#PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=Weather
POSTGRES_URL="postgresql://postgres:123456@localhost:5434/Weather"


# This was inserted by `prisma init`:
[object Promise]